.new_post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my_post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
