.profile {
    grid-area: profile;
    margin-left: 10px;

}

.card {
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 10px;

    background: linear-gradient(to bottom, rgba(39,170,225,.8), rgba(28,117,188,.2)), url(../../Image/1.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 110px;
    border-radius: 4px;
    color: #fff;

}
.photo {
    border: 7px solid #fff;
    float: left;
    margin-right: 20px;
    position: relative;
    top: -30px;
    height: 70px;
    width: 70px;
    border-radius: 50%;

}

.text{
    font-size: 25px;
    color: whitesmoke;
}