.header {
    grid-area: header;
    background-color: cornflowerblue;
}

.logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: auto;
    height: 70px;
}

.text_logo {
    position: absolute;
    top: -10px;
    left: 150px;
    color: whitesmoke;
}