.navbar {
    grid-area: navbar;
    background-color: whitesmoke;
}

.item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 2vw;
    font-size: 1.5vw;
    padding: .5em;
  //background: gold;
}

.item a {
    color: blue;
    text-decoration: none;
}


 .navbar .active {
    color: gold;
}