.navbar {
    grid-area: navbar;
    margin-left: 10px;
}

.item {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5vw;
    font-size: 1.5vw;
    padding: 1.5em;
    color: blue;
    text-decoration: none;

}

.navbar .noActive{
    color: #6d6e71;
}

 .navbar .active {
     color: #7d6e89;
     border-bottom: 2px solid #f1f2f2;
}