.App {
    margin: auto;
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 140px 1fr;
    grid-template-columns: 250px 8fr 2fr;
    grid-gap: 1vw;
    grid-template-areas:
          "header header header"
          "profile 123 123"
          "navbar 123 123"

}

a {
    text-decoration: none;
}